@import url(variables.css);

html,
 body,
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 2rem;
   background-color: bisque;
 } 
.main-header {
  margin: 0;
  padding: 0;
  font-size: 5rem;

}
.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  font-size: 3rem;
}

#all, #common, #uncommon, #rare, #ultra-rare {
  margin: 30px;
  padding: 10px;
  border-radius: 30px;
  font-size: 1rem;
  background-color: rgb(241, 217, 217);
}

.card {
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  align-items: center;
  background-color: rgb(161, 161, 231);
}
